@import
  'normalize',
  'rouge',
  'mixins';

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  @include container;
}

main * + * {
  margin-top: $spacing;
}

[href="#main"] {
  position: absolute;
  top: 0;
  right: 100%;

  &:focus {
    right: auto;
  }
}

img, input, textarea, select {
  max-width: 100%;
}

footer, header {
  ul {
    @include unstiled-list;
  }

  p {
    margin: 0;
  }
}
